*{
    font-family: verdana;
}

body{
    margin: 0;
    background-image: url("parede.jpg");
    background-color: #cccccc;
    height: 1000px;
}

#saldoAtual{
    background-color: chartreuse;
    width: 250px;
    border-radius: 9px;
    position: relative;
    left: 41%;
    top: -15px;
    margin: 0;
    padding-left: 5px;
}

#operacao{
    width: 600px;
}

#formOperacao{
    margin-top: 15px;
}

#debOrCred{
    /* width: 70px; */
    width: 40%;
    float: left;
}

#depValor{
    /* width: 70px; */
}

#valor{
    width: 100px;
}

fieldset{
    border-radius: 9px;
}

#depSuce{
    background-color: chartreuse;
    width: 250px;
    border-radius: 9px;

    left: 41%;
    top: -15px;
    margin: 0;
    padding-left: 5px;
}